/* ===== GLOBAL ===== */
body {
  margin: 0;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #a8c0ff, #3f2b96);
}

/* ===== FORM & FILTER ===== */
.form-box,
.filter-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 18px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  backdrop-filter: blur(6px);
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input,
select {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #f5f7ff;
  font-size: 15px;
  transition: 0.3s;
}

input:focus,
select:focus {
  border-color: #6a5af9;
  box-shadow: 0 0 10px rgba(106, 90, 249, 0.4);
  background: white;
}

/* ===== BUTTON ===== */
button {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #6a5af9, #8368ff);
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(92, 62, 255, 0.45);
}

/* ===== PRODUCTS ===== */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

/* ===== CARD ===== */
.card {
  width: 270px;
  background: #ffffffdd;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  backdrop-filter: blur(5px);
  border: 3px solid transparent;
  animation: fadeIn 0.5s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 14px;
}

/* ===== PRICE COLOR LOGIC ===== */
.card.expensive {
  border-color: red;
}

/* ===== DELETE BUTTON ===== */
.delete-btn {
  background: linear-gradient(135deg, #ff4d4d, #ff3333);
}

.delete-btn:hover {
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.4);
}

/* COLOR BOX */
.color-box {
  width: 45px;
  height: 22px;
  border-radius: 6px;
  border: 1px solid #555;
}
